{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quote-props": ["error", "as-needed"],
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off"
  }
}
